.login {
      height: 100vh;
      background-color:#f8f8f8;
      display: grid;
      place-items: center;
}


.container > img {
      object-fit: contain;
      height: 100px;
      margin-bottom: 40px;

     

}

.container > button {
      margin-top: 50px !important;
      text-transform: inherit !important;
      background-color: #0a8d48 !important;
      color: white;
}
.container {
      padding: 100px;
      background-color: white;
      text-align: center;
      border-radius: 10px;
      box-shadow: 2px 2px 12px rgba(0,0,0,0.2);

}
.container h1 {
      font-size: 20px;
      font-weight: 600;
}

